&gpiob {
    status = "okay";
};

/ {
    aliases {
        cs1 = &cs_pin_node;
    };
    cs_signals {
        compatible = "gpio-keys";
        cs_pin_node: cs_pin_node {
            gpios = <&gpiob 0 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
            label = "CS1_Interrupt";
        };
    };
};